<!--
///
/// ファイル名	: SorryPage.cshtml
/// 作成者		: murakami
/// 制作日		: 2019/12/30
/// 最終更新者	: なし
/// 最終更新日	: なし
///
/// 更新履歴
/// 名前			日付		内容
/// murakami		2019/12/30	新規作成
///
///
-->
@{
    ViewBag.Title = "SorryPage";
}

<h2>処理中にエラーが出ました。もう一度最初からお願いいたします</h2>

